<div class="container spa1">
    <p><b>Title:</b><p>
    <p><%= @book.title %></p>
</div>
<div class="container spa1">
    <p><b>Body:</b></p>
    <p><%= @book.body %></p>
</div>
<div class="container spa2">
    <p><%= link_to "Edit", edit_book_path(@book.id) %></p>
    <p>|</p>
    <p><%= link_to "Back", books_path %></p>
</div>